# <center> <b> <h1> Gowalla, Stalker pattern recognition </h1></b></center>

<h4 id="challenge">Challenge</h4>

<p>Use the dataset here: <a href="https://snap.stanford.edu/data/loc-gowalla.html">https://snap.stanford.edu/data/loc-gowalla.html</a></p>

<ul>
  <li>Assume a “stalker” is someone who, in this dataset, visits some of the same locations as another person, after the other person goes to that location.</li>
  <li>A “stalker score” for a pair of people, A &amp; B, is the number of locations for which A has visited a location followed by B visiting that same location in the future.</li>
  <li>Any given location should be counted once in the score, so a stalker score can never be higher than the number of unique locations that A and B have in common.</li>
</ul>

<p>Use the datasets from the web page above to answer the following questions:</p>

<ol>
  <li>Which friend pair has the highest “stalker score”?</li>
  <li>Which non-friend pair has the highest “stalker score”?</li>
</ol>

<p>You can use any tools you want to solve this puzzle, except asking for help from other people. Please feel free to email at any time for any clarifications.</p>

<p>Please give the winning user id pairs and “stalker score” for each question, and please explain your solution methods, including any source code if you wrote any.</p>

<p>There are many libraries available that can make this challenge easier, so we are offering bonus points for:</p>
<ul>
  <li>Using as little RAM as possible</li>
  <li>Exection speed</li>
  <li>Pure python solution using base modules</li>
</ul>

In [1]:
import pandas as pd 

path_checkins = "datasets/Gowalla_totalCheckins.txt"
path_edges = "datasets/Gowalla_edges.txt"

In [2]:
data_edges = pd.read_csv(path_edges, sep="\t", header=None)

In [19]:
data_edges.head()

   0  1
0  0  1
1  0  2
2  0  3
3  0  4
4  0  5

In [11]:
del data_checkins

In [12]:
data_checkins = pd.read_csv(path_checkins, sep="\t", header=None)
data_checkins.columns = ["user", "check-in time", "latitude", "longitude", "location id"]
data_checkins.set_index("user", inplace = True)

In [20]:
data_checkins.head(5)

             check-in time   latitude  longitude  location id
user
0     2010-10-19T23:55:27Z  30.235909 -97.795140        22847
0     2010-10-18T22:17:43Z  30.269103 -97.749395       420315
0     2010-10-17T23:42:03Z  30.255731 -97.763386       316637
0     2010-10-17T19:26:05Z  30.263418 -97.757597        16516
0     2010-10-16T18:50:42Z  30.274292 -97.740523      5535878

### Analysis: 

- I think I just need the information of the "user id" the "check-in time" and the "location id". from checkin dataset
- I will delete the "latitude" and "longitude" columns.
- After that i will apply a pre-processing of the data, for delete missing samples if there is some missing or strange value.